* {
    padding: 0px;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    box-sizing: border-box;   
}

.body {
    background-image: url(images/R.png);
    background-size: cover;
}

.outliner {
    max-width: 100%;
    margin: 0px auto;
}

.input-div {
    width: 100%;
    padding: 13px;
    margin-left: 100px;
    border: 2px solid black;
    border-radius: 20px;
    width: 500px;
    background-color: rgba(255, 192, 203, 0.262);
}

.group-emp {
    display: flex;
    margin: 10px 0px;
}

.group-emp>label {
    width: 130px;
}

.group-control {
    border: none;
    outline: none;
    width: 300px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
}

.btn {
    border: none;
    outline: none;
    padding: 5px 20px;
    border: 2px solid rgb(255, 68, 68);
    border-radius: 8px;
    cursor: pointer;
    margin-right: 2px;
}

.edit {
    border: 2px solid rgb(56, 169, 56);
    background-color: rgba(27, 174, 27, 0.476);
    border-radius: 20px;

}

.delete {
    background-color: rgba(221, 58, 58, 0.658);
    border-radius: 20px;
}

.btn-warning {
    background-color: rgb(65, 171, 54);
    color: white;
    border: 1px solid rgb(11, 79, 15);
    margin-left: 130px;

}

.display-emp{
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.thead-emp>tr>th {
    padding: 7px 5px;
    background-color: rgba(255, 80, 80, 0.774);
    border-radius: 10px;
}

.table>tbody>tr>td {
    text-align: center;
    padding: 7px 5px;
    background-color: rgba(255, 192, 203, 0.262);
}

.table>tbody>tr:hover {
    background-color: rgba(185, 185, 185, 0.199);
    cursor: pointer;
}
